.games-list{
    margin-top: 20px;
    font-size: 14px;
    label{
        padding: 5px;
       span{
        line-height: 14px;
        display: inline-block;
        width: 70px;
    }
    .team-left{
        text-align: right;
    }
        input{
            border: none;
            border-radius: 5px;
            margin: 5px 10px;
            text-align: center;
            width: 50px;
        }
    }
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 20%;
  }